<?php
##
## Login Control configuration file
##

// List mode: 'whitelist' or 'blacklist'
$config['login_control_mode'] = 'whitelist';

// List of IP addresses
// Format: array(username => array(IPs, NETWORKs, ...), ...)
$config['login_control_list'] = array();

?>